- if @user.errors.any?
  .alert.alert-error{:align => "center"}
    %a.close{"data-dismiss" => "alert"} ×
    - @users.errors.full_messages.each do |msg|
      %p= msg

= form_for @user, :html => {:id => "add_pg", :class => "form-horizontal",:style => "margin: auto; width:400px;"}, :method => "PUT" do |f|
  %fieldset
    #legend
      %legend Create Password
    .control-group
      %label.control-label
        =f.label "Username"
      .controls
        =f.text_field :username
    .control-group
      %label.control-label
        =f.label "Password"
      .controls
        =f.password_field :password

    -#.control-group
    -#  %label.control-label
    -#    =f.label :password_confirmation
    -#  .controls
    -#    =f.password_field :password_confirmation
    .control-group
      .controls
        =f.submit "Create Password", :class => "btn btn-success"
        =link_to "Cancel", "/admins", :class => "btn"
